# Creating Lousiana 2015-2025 Flood Dataset
### Sources: 
- National Oceanic and Atmospheric Administration (NOAA)'s Storm Events Database
- U.S Climate Resilience Toolkit - Applied Climate Information System

In [6]:
import pandas as pd
import os
import seaborn as sns
from sklearn.preprocessing import StandardScaler

raw_data_path = "raw_data"

# Import the raw data
df_floods = pd.read_csv(os.path.join(raw_data_path,'louisiana_floods_2015-2025.csv'))
df_floods.head()

,EVENT_ID,CZ_NAME_STR,BEGIN_LOCATION,BEGIN_DATE,BEGIN_TIME,EVENT_TYPE,MAGNITUDE,TOR_F_SCALE,DEATHS_DIRECT,INJURIES_DIRECT,...,END_LOCATION,END_DATE,END_TIME,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EVENT_NARRATIVE,EPISODE_NARRATIVE,ABSOLUTE_ROWNUMBER
0,577286,RED RIVER PAR.,HOWARD,05/18/2015,545,Flood,,,0,0,...,HOWARD,05/31/2015,2359,32.2297,-93.4981,32.2309,-93.4236,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,1
1,577292,NATCHITOCHES PAR.,KING HILL,05/18/2015,815,Flood,,,0,0,...,GRAPPES BLUFF,05/31/2015,2359,31.8986,-93.2774,31.9395,-93.2121,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,2
2,577302,WINN PAR.,ST MAURICE,05/18/2015,815,Flood,,,0,0,...,ST MAURICE,05/31/2015,2359,31.7066,-92.9876,31.7382,-92.9993,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,3
3,577296,GRANT PAR.,MONTGOMERY,05/18/2015,815,Flood,,,0,0,...,HARGIS,05/31/2015,2359,31.7066,-92.9931,31.7201,-92.8619,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,4
4,577284,BOSSIER PAR.,FERRY,05/30/2015,2100,Flood,,,0,0,...,FERRY,05/31/2015,2359,33.0168,-93.8590,33.0185,-93.7717,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,5