# Creating Lousiana 2015-2025 Flood Dataset
### Sources: 
- National Oceanic and Atmospheric Administration (NOAA)'s Storm Events Database
- U.S Climate Resilience Toolkit - Applied Climate Information System

In [182]:
import pandas as pd
import os
import seaborn as sns
from sklearn.preprocessing import StandardScaler

raw_data_path = "raw_data"

# Import the raw data
df_floods = pd.read_csv(os.path.join(raw_data_path,'louisiana_floods_2015-2025.csv'))
for col in df_floods.columns:
    df_floods.rename(columns={col: col.lower()}, inplace=True)
df_floods.head()

,event_id,cz_name_str,begin_location,begin_date,begin_time,event_type,magnitude,tor_f_scale,deaths_direct,injuries_direct,...,end_location,end_date,end_time,begin_lat,begin_lon,end_lat,end_lon,event_narrative,episode_narrative,absolute_rownumber
0,577286,RED RIVER PAR.,HOWARD,05/18/2015,545,Flood,,,0,0,...,HOWARD,05/31/2015,2359,32.2297,-93.4981,32.2309,-93.4236,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,1
1,577292,NATCHITOCHES PAR.,KING HILL,05/18/2015,815,Flood,,,0,0,...,GRAPPES BLUFF,05/31/2015,2359,31.8986,-93.2774,31.9395,-93.2121,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,2
2,577302,WINN PAR.,ST MAURICE,05/18/2015,815,Flood,,,0,0,...,ST MAURICE,05/31/2015,2359,31.7066,-92.9876,31.7382,-92.9993,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,3
3,577296,GRANT PAR.,MONTGOMERY,05/18/2015,815,Flood,,,0,0,...,HARGIS,05/31/2015,2359,31.7066,-92.9931,31.7201,-92.8619,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,4
4,577284,BOSSIER PAR.,FERRY,05/30/2015,2100,Flood,,,0,0,...,FERRY,05/31/2015,2359,33.0168,-93.8590,33.0185,-93.7717,Excessive heavy rainfall during the month of M...,Excessive heavy rainfall during the month of M...,5

In [183]:
df_floods.describe().T

,count,mean,std,min,25%,50%,75%,max
event_id,111.0,7.496041e+05,1.679900e+05,577283.0000,625671.00000,657958.0000,823781.00000,1.197566e+06
begin_time,111.0,1.149964e+03,7.336771e+02,0.0000,600.00000,1300.0000,1800.00000,2.300000e+03
deaths_direct,111.0,7.207207e-02,4.202102e-01,0.0000,0.00000,0.0000,0.00000,4.000000e+00
injuries_direct,111.0,9.009009e-03,9.491580e-02,0.0000,0.00000,0.0000,0.00000,1.000000e+00
damage_property_num,111.0,5.485123e+07,2.357962e+08,0.0000,0.00000,0.0000,500000.00000,1.680000e+09
damage_crops_num,111.0,4.504505e+03,4.745790e+04,0.0000,0.00000,0.0000,0.00000,5.000000e+05
episode_id,111.0,1.243133e+05,2.688041e+04,96046.0000,104446.00000,110040.0000,136353.00000,1.935170e+05
cz_fips,111.0,6.109009e+01,3.587898e+01,1.0000,25.00000,67.0000,98.00000,1.270000e+02
injuries_indirect,111.0,0.000000e+00,0.000000e+00,0.0000,0.00000,0.0000,0.00000,0.000000e+00
deaths_indirect,111.0,9.009009e-03,9.491580e-02,0.0000,0.00000,0.0000,0.00000,1.000000e+00
begin_range,111.0,4.333333e+00,7.983316e+00,0.0000,1.00000,2.0000,3.00000,4.900000e+01
end_range,111.0,4.540541e+00,9.221303e+00,0.0000,1.00000,2.0000,3.00000,6.100000e+01
end_time,111.0,1.661847e+03,7.349401e+02,0.0000,1300.00000,1830.0000,2300.00000,2.359000e+03
begin_lat,111.0,3.145656e+01,1.046250e+00,29.7585,30.48025,31.7066,32.44710,3.301800e+01
begin_lon,111.0,-9.210067e+01,1.340804e+00,-94.0401,-93.34560,-92.1234,-91.02375,-8.986270e+01
end_lat,111.0,3.143555e+01,1.076340e+00,29.5807,30.47280,31.7073,32.46510,3.301850e+01
end_lon,111.0,-9.205730e+01,1.312661e+00,-94.0413,-93.33770,-92.1396,-91.01725,-8.966350e+01
absolute_rownumber,111.0,5.600000e+01,3.218695e+01,1.0000,28.50000,56.0000,83.50000,1.110000e+02

In [184]:
for i, col in enumerate(df_floods.columns):
    print(f"{i}: {col}")

0: event_id
1: cz_name_str
2: begin_location
3: begin_date
4: begin_time
5: event_type
6: magnitude
7: tor_f_scale
8: deaths_direct
9: injuries_direct
10: damage_property_num
11: damage_crops_num
12: state_abbr
13: cz_timezone
14: magnitude_type
15: episode_id
16: cz_type
17: cz_fips
18: wfo
19: injuries_indirect
20: deaths_indirect
21: source
22: flood_cause
23: tor_length
24: tor_width
25: begin_range
26: begin_azimuth
27: end_range
28: end_azimuth
29: end_location
30: end_date
31: end_time
32: begin_lat
33: begin_lon
34: end_lat
35: end_lon
36: event_narrative
37: episode_narrative
38: absolute_rownumber

In [185]:
df_floods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 39 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   event_id             111 non-null    int64
 1   cz_name_str          111 non-null    object
 2   begin_location       111 non-null    object
 3   begin_date           111 non-null    object
 4   begin_time           111 non-null    int64
 5   event_type           111 non-null    object
 6   magnitude            111 non-null    object
 7   tor_f_scale          111 non-null    object
 8   deaths_direct        111 non-null    int64
 9   injuries_direct      111 non-null    int64
 10  damage_property_num  111 non-null    int64
 11  damage_crops_num     111 non-null    int64
 12  state_abbr           111 non-null    object
 13  cz_timezone          111 non-null    object
 14  magnitude_type       111 non-null    object
 15  episode_id           111 non-null    int64
 16  cz_type              111 non-null    object
 17  cz_fips              111 non-null    int64
 18  wfo                  111 non-null    object
 19  injuries_indirect    111 non-null    int64
 20  deaths_indirect      111 non-null    int64
 21  source               111 non-null    object
 22  flood_cause          111 non-null    object
 23  tor_length           111 non-null    object
 24  tor_width            111 non-null    object
 25  begin_range          111 non-null    int64
 26  begin_azimuth        111 non-null    object
 27  end_range            111 non-null    int64
 28  end_azimuth          111 non-null    object
 29  end_location         111 non-null    object
 30  end_date             111 non-null    object
 31  end_time             111 non-null    int64
 32  begin_lat            111 non-null    float64
 33  begin_lon            111 non-null    float64
 34  end_lat              111 non-null    float64
 35  end_lon              111 non-null    float64
 36  event_narrative      111 non-null    object
 37  episode_narrative    111 non-null    object
 38  absolute_rownumber   111 non-null    int64
dtypes: float64(4), int64(14), object(21)
memory usage: 33.9+ KB

In [186]:
important_cols = ['begin_date', 'cz_name_str', 'cz_fips', 'cz_type']
df_floods_filtered = df_floods[important_cols]
df_floods_filtered.head()

   begin_date        cz_name_str  cz_fips cz_type
0  05/18/2015     RED RIVER PAR.       81       C
1  05/18/2015  NATCHITOCHES PAR.       69       C
2  05/18/2015          WINN PAR.      127       C
3  05/18/2015         GRANT PAR.       43       C
4  05/30/2015       BOSSIER PAR.       15       C

In [187]:
# Investigate the date range of the data
df_floods_filtered.loc[:, 'begin_date'] = pd.to_datetime(df_floods_filtered['begin_date']).dt.date
print(f"Date range: {df_floods_filtered['begin_date'].min()} to {df_floods_filtered['begin_date'].max()}")
flood_dates = df_floods_filtered['begin_date'].unique()
print(f"Number of unique flood dates: {len(flood_dates)}")

Date range: 2015-05-18 to 2024-06-03
Number of unique flood dates: 51

In [188]:
# Group dates by year
df_floods_filtered.loc[:,'year'] = pd.to_datetime(df_floods_filtered['begin_date']).dt.year
for year in sorted(df_floods_filtered['year'].unique()):
    num_floods = df_floods_filtered[df_floods_filtered['year'] == year].shape[0]
    print(f"Year {year}: {num_floods} flood events")
    print(df_floods_filtered[df_floods_filtered['year'] == year]['begin_date'].value_counts())

Year 2015: 14 flood events
begin_date
2015-06-01    6
2015-05-18    4
2015-05-30    2
2015-10-26    1
2015-10-31    1
Name: count, dtype: int64
Year 2016: 46 flood events
begin_date
2016-03-11    14
2016-08-14    10
2016-08-13     6
2016-03-10     4
2016-03-12     4
2016-06-12     2
2016-03-13     2
2016-08-12     2
2016-08-15     2
Name: count, dtype: int64
Year 2017: 2 flood events
begin_date
2017-08-30    1
2017-09-01    1
Name: count, dtype: int64
Year 2018: 10 flood events
begin_date
2018-12-31    2
2018-02-22    1
2018-03-07    1
2018-07-30    1
2018-04-01    1
2018-09-10    1
2018-10-15    1
2018-11-13    1
2018-12-28    1
Name: count, dtype: int64
Year 2019: 19 flood events
begin_date
2019-01-03    3
2019-05-09    3
2019-01-01    2
2019-01-04    2
2019-04-13    2
2019-06-01    2
2019-04-07    1
2019-05-01    1
2019-04-14    1
2019-05-08    1
2019-05-12    1
Name: count, dtype: int64
Year 2020: 6 flood events
begin_date
2020-07-15    2
2020-04-19    1
2020-07-01    1
2020-07-05    1
2020-07-28    1
Name: count, dtype: int64
Year 2021: 2 flood events
begin_date
2021-06-10    2
Name: count, dtype: int64
Year 2022: 5 flood events
begin_date
2022-12-30    2
2022-05-05    1
2022-08-23    1
2022-11-26    1
Name: count, dtype: int64
Year 2024: 7 flood events
begin_date
2024-04-10    2
2024-06-03    2
2024-01-23    1
2024-04-09    1
2024-04-12    1
Name: count, dtype: int64

C:\Users\Glen\AppData\Local\Temp\ipykernel_27404\2857082603.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_floods_filtered.loc[:,'year'] = pd.to_datetime(df_floods_filtered['begin_date']).dt.year

In [189]:
precip_data_path = os.path.join(raw_data_path, 'precip_summaries')
date_list = flood_dates.tolist()

# precip_cols = ['Name', 'ID', 'County', 'Last30Days',
#                 'Last60Days', 'Last90Days', 'Last180Days', 'SinceJan1',
#                 'SinceOct1']

# for date in date_list:
#     date_str = date.strftime('%Y-%m-%d')
#     precip_file = os.path.join(precip_data_path, f'{date_str}.csv')
#     if not os.path.exists(precip_file):
#         # Create an empty precipitation file if it doesn't exist
#         df_empty = pd.DataFrame(columns=precip_cols)
#         df_empty.to_csv(precip_file, index=False)

# print("Total precipitation files checked/created:", len(date_list))
# print("Number of precipitation files in directory:", len(os.listdir(precip_data_path)))

# for date in date_list[0:1]:
#     date_str = date.strftime('%Y-%m-%d')
#     print(f"Checking precipitation data for {date_str}")
#     precip_file = os.path.join(precip_data_path, f'{date_str}.csv')
#     if os.path.exists(precip_file):
#         df_precip = pd.read_csv(precip_file)
#         print(f"Precipitation data for {date_str}:")
#         print(df_precip.head())
#     else:
#         print(f"No precipitation data found for {date_str}")

In [191]:
# Parishes in the flood data
df_floods_filtered.loc[:, 'cz_name_str'] = df_floods_filtered['cz_name_str'].str.replace(' Parish','', regex=False)
flood_parishes = df_floods_filtered['cz_name_str'].str.replace('PAR.', 'PARISH').str.replace('ST. ', 'SAINT ').sort_values().unique().tolist()

print("Parishes in the flood data:")
print("Total parishes with flood data:", len(flood_parishes))
df_flood_parishes = pd.DataFrame(flood_parishes, columns=['Parish'])
print(df_flood_parishes)

# Parishes in the precipitation data
precip_files = os.listdir(precip_data_path)
sample_precip_file = os.path.join(precip_data_path, precip_files[0])
df_sample_precip = pd.read_csv(sample_precip_file)
precip_parishes = df_sample_precip['County'].str.lstrip().str.upper().sort_values().unique().tolist()

print("Parishes in the precipitation data:")
print("Total parishes with precipitation data:", len(precip_parishes))
df_precip_parishes = pd.DataFrame(precip_parishes, columns=['Parish'])
print(df_precip_parishes)

# Find parishes with flood data but no precipitation data
missing_parishes = [parish for parish in flood_parishes if parish not in precip_parishes]
df_missing_parishes = pd.DataFrame(missing_parishes, columns=['Parish'])
print("Parishes with flood data but no precipitation data:")
print(df_missing_parishes)

new_parishes = [parish for parish in precip_parishes if parish not in flood_parishes]
df_new_parishes = pd.DataFrame(new_parishes, columns=['Parish'])
print("Parishes with precipitation data but no flood data:")
print(df_new_parishes)

# Unknown parishes in precip data
unknown_parishes = df_sample_precip[df_sample_precip['County'].str.lstrip() == '-']
print("\n\nUnknown parishes in precipitation data:")
print(unknown_parishes)

Parishes in the flood data:
Total parishes with flood data: 45
                     Parish
0             ACADIA PARISH
1              ALLEN PARISH
2          ASCENSION PARISH
3          AVOYELLES PARISH
4         BEAUREGARD PARISH
5            BOSSIER PARISH
6              CADDO PARISH
7          CALCASIEU PARISH
8           CALDWELL PARISH
9            CAMERON PARISH
10         CATAHOULA PARISH
11           DE SOTO PARISH
12  EAST BATON ROUGE PARISH
13      EAST CARROLL PARISH
14          FRANKLIN PARISH
15             GRANT PARISH
16            IBERIA PARISH
17         IBERVILLE PARISH
18   JEFFERSON DAVIS PARISH
19         JEFFERSON PARISH
20          LA SALLE PARISH
21         LAFAYETTE PARISH
22           LINCOLN PARISH
23        LIVINGSTON PARISH
24           MADISON PARISH
25         MOREHOUSE PARISH
26      NATCHITOCHES PARISH
27           ORLEANS PARISH
28          OUACHITA PARISH
29     POINTE COUPEE PARISH
30           RAPIDES PARISH
31         RED RIVER PARISH
32          RICHLAND PARISH
33     SAINT BERNARD PARISH
34       SAINT JAMES PARISH
35      SAINT LANDRY PARISH
36      SAINT MARTIN PARISH
37        SAINT MARY PARISH
38     SAINT TAMMANY PARISH
39        TANGIPAHOA PARISH
40         VERMILION PARISH
41            VERNON PARISH
42        WASHINGTON PARISH
43      WEST CARROLL PARISH
44              WINN PARISH
Parishes in the precipitation data:
Total parishes with precipitation data: 61
                     Parish
0                         -
1             ACADIA PARISH
2              ALLEN PARISH
3          ASCENSION PARISH
4         ASSUMPTION PARISH
..                      ...
56        WASHINGTON PARISH
57           WEBSTER PARISH
58  WEST BATON ROUGE PARISH
59      WEST CARROLL PARISH
60    WEST FELICIANA PARISH

[61 rows x 1 columns]
Parishes with flood data but no precipitation data:
         Parish
0  GRANT PARISH
1   WINN PARISH
Parishes with precipitation data but no flood data:
                           Parish
0                               -
1               ASSUMPTION PARISH
2                BIENVILLE PARISH
3                CLAIBORNE PARISH
4                CONCORDIA PARISH
5           EAST FELICIANA PARISH
6               EVANGELINE PARISH
7                LAFOURCHE PARISH
8              PLAQUEMINES PARISH
9                   SABINE PARISH
10            SAINT HELENA PARISH
11  SAINT JOHN THE BAPTIST PARISH
12                  TENSAS PARISH
13              TERREBONNE PARISH
14                   UNION PARISH
15                 WEBSTER PARISH
16        WEST BATON ROUGE PARISH
17          WEST FELICIANA PARISH


Unknown parishes in precipitation data:
                        Name         ID County Last30Days Last60Days  \
107              Monroe Area     MLUthr      -       5.67       9.17
108        Natchitoches Area   ICHL1thr      -       4.11       9.78
109  Tallulah-Vicksburg Area     TVRthr      -       9.35      13.75
178         Baton Rouge Area     BTRthr      -       4.47      10.03
179        Lake Charles Area     LCHthr      -       4.70      15.39
180         New Orleans Area     MSYthr      -       6.99      16.34
181          Shreveport Area     SHVthr      -       8.33      13.35

    Last90Days Last180Days SinceJan1  SinceOct1
107      15.63       27.41     22.24      33.85
108      15.47       30.56     24.17      36.61
109      20.90       32.96     28.16      41.42
178      14.54       28.69     22.62      34.14
179      21.30       35.42     29.44      41.03
180      22.75       34.20     29.86      37.80
181      23.06       38.22     32.09      46.11